*{
	margin:0;
	padding:0;
}

html, body
{
    height: 100%;
    width:100%;
}


#mainImage{
	width:100%;
	height: 100%;

	background-image: url("../images/jacob90.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0% 60%;

	margin:0;

	box-shadow: 0px 11px 39px 0px #333;
}

#mainImage p{
	font-family: 'Dancing Script', cursive;
	color:white;
	text-align: center;
	font-size: 14em;
	text-shadow: 10px 1px 15px #000;
}

#mainImage .wrapper{
	line-height: 1;
	margin-left: 11%;
}

#mainContent{
	height:100%;
	width:75%;
	margin:0 auto;
}

#mainContent h1{
	text-align: center;
}

#mainContentContainer img{
	width:10%;
}

.card-group{
	width:100%;
	margin:0 auto;
	box-shadow: 5px 10px 30px #333;
}




#mainImage .lowerContent{
	position: absolute;
	bottom:1%;
	width:100%;
	text-align: center;
}

#mainImage .lowerContent p{
	font-size: 2em;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 3px;
}

#mainImage .lowerContent img{
	width:50px;
}

#showcase{
	height: 100%;
	width:100%;
	margin:0 auto;

	/*Gradient*/
	background-color: #59aec3;
	background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M54.627 0l.83.828-1.415 1.415L51.8 0h2.827zM5.373 0l-.83.828L5.96 2.243 8.2 0H5.374zM48.97 0l3.657 3.657-1.414 1.414L46.143 0h2.828zM11.03 0L7.372 3.657 8.787 5.07 13.857 0H11.03zm32.284 0L49.8 6.485 48.384 7.9l-7.9-7.9h2.83zM16.686 0L10.2 6.485 11.616 7.9l7.9-7.9h-2.83zm20.97 0l9.315 9.314-1.414 1.414L34.828 0h2.83zM22.344 0L13.03 9.314l1.414 1.414L25.172 0h-2.83zM32 0l12.142 12.142-1.414 1.414L30 .828 17.272 13.556l-1.414-1.414L28 0h4zM.284 0l28 28-1.414 1.414L0 2.544V0h.284zM0 5.373l25.456 25.455-1.414 1.415L0 8.2V5.374zm0 5.656l22.627 22.627-1.414 1.414L0 13.86v-2.83zm0 5.656l19.8 19.8-1.415 1.413L0 19.514v-2.83zm0 5.657l16.97 16.97-1.414 1.415L0 25.172v-2.83zM0 28l14.142 14.142-1.414 1.414L0 30.828V28zm0 5.657L11.314 44.97 9.9 46.386l-9.9-9.9v-2.828zm0 5.657L8.485 47.8 7.07 49.212 0 42.143v-2.83zm0 5.657l5.657 5.657-1.414 1.415L0 47.8v-2.83zm0 5.657l2.828 2.83-1.414 1.413L0 53.456v-2.83zM54.627 60L30 35.373 5.373 60H8.2L30 38.2 51.8 60h2.827zm-5.656 0L30 41.03 11.03 60h2.828L30 43.858 46.142 60h2.83zm-5.656 0L30 46.686 16.686 60h2.83L30 49.515 40.485 60h2.83zm-5.657 0L30 52.343 22.343 60h2.83L30 55.172 34.828 60h2.83zM32 60l-2-2-2 2h4zM59.716 0l-28 28 1.414 1.414L60 2.544V0h-.284zM60 5.373L34.544 30.828l1.414 1.415L60 8.2V5.374zm0 5.656L37.373 33.656l1.414 1.414L60 13.86v-2.83zm0 5.656l-19.8 19.8 1.415 1.413L60 19.514v-2.83zm0 5.657l-16.97 16.97 1.414 1.415L60 25.172v-2.83zM60 28L45.858 42.142l1.414 1.414L60 30.828V28zm0 5.657L48.686 44.97l1.415 1.415 9.9-9.9v-2.828zm0 5.657L51.515 47.8l1.414 1.413 7.07-7.07v-2.83zm0 5.657l-5.657 5.657 1.414 1.415L60 47.8v-2.83zm0 5.657l-2.828 2.83 1.414 1.413L60 53.456v-2.83zM39.9 16.385l1.414-1.414L30 3.658 18.686 14.97l1.415 1.415 9.9-9.9 9.9 9.9zm-2.83 2.828l1.415-1.414L30 9.313 21.515 17.8l1.414 1.413 7.07-7.07 7.07 7.07zm-2.827 2.83l1.414-1.416L30 14.97l-5.657 5.657 1.414 1.415L30 17.8l4.243 4.242zm-2.83 2.827l1.415-1.414L30 20.626l-2.828 2.83 1.414 1.414L30 23.456l1.414 1.414zM56.87 59.414L58.284 58 30 29.716 1.716 58l1.414 1.414L30 32.544l26.87 26.87z' fill='%23f2f2f2' fill-opacity='0.09' fill-rule='evenodd'/%3E%3C/svg%3E");
}

#showcase > .row{
	width:80%;
	height:80%;
	margin-left: 0;
	margin-right: 0;
	margin:0 auto;
}

#showcase .card{
	height:100%;
}

#showcase .cardIcon{
	width:100%;
	margin:0 auto;
	text-align: center;
}

#showcase .cardIcon img{
	width:60px;
	height:60;
}

#showcase h5{
	padding-top:5px;

	font-size: 3rem;
	font-family: 'Anton', sans-serif;
	color:#59aec3; 
}

#showcase ul, #showcase h5{
	margin:25px auto;
	text-align: center;
}

#showcase h6{
	text-align: center;
	font-size:25px;
	color:#59aec3;
}

#showcase .card-text{
	margin-top: 40px;
	text-align: center;
	font-family: 'Roboto', sans-serif;
}

#showcase ul li{
	list-style-type: none;
    font-size: 18px;
    letter-spacing: 2px;
    margin-top: 5px;

    background-color: #59aec3;
    color:#fff;
}


.card-body{
	height:100%;
}

.cardTopSection{
	height:40%;
}

.cardBottomSection{
	height: 50%;
}

hr{
	width:50%;
	margin:0 auto;
}

.cardBottomSection ul li{
	cursor:default;
}

/*PROJECT HERO*/
.projectHero{
	width:100%;
	height: 100%;

	background-image: url("../images/jacob01.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0% 60%;

	margin:0;

	box-shadow: 0px 11px 39px 0px #333;
}

.projectHero .projectHeaderWrapper{		/*This is a cool way of vertically centering something on a page!*/
	position: relative;
	top:50%;
	transform:translateY(-50%);
	width:50%;
}

.projectHero p{
	font-family: 'Anton', sans-serif;
	color:white;
	text-align: center;
	font-size: 14em;
	height:100%;
	text-shadow: 10px 1px 15px #000;
}

/*THIS IS THE STYLE CSS FOR PROJECTS*/
.projects{
	height: 105%;
	width: 100%;

	/*Gradient*/
	background-color: #59aec3;
	background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M54.627 0l.83.828-1.415 1.415L51.8 0h2.827zM5.373 0l-.83.828L5.96 2.243 8.2 0H5.374zM48.97 0l3.657 3.657-1.414 1.414L46.143 0h2.828zM11.03 0L7.372 3.657 8.787 5.07 13.857 0H11.03zm32.284 0L49.8 6.485 48.384 7.9l-7.9-7.9h2.83zM16.686 0L10.2 6.485 11.616 7.9l7.9-7.9h-2.83zm20.97 0l9.315 9.314-1.414 1.414L34.828 0h2.83zM22.344 0L13.03 9.314l1.414 1.414L25.172 0h-2.83zM32 0l12.142 12.142-1.414 1.414L30 .828 17.272 13.556l-1.414-1.414L28 0h4zM.284 0l28 28-1.414 1.414L0 2.544V0h.284zM0 5.373l25.456 25.455-1.414 1.415L0 8.2V5.374zm0 5.656l22.627 22.627-1.414 1.414L0 13.86v-2.83zm0 5.656l19.8 19.8-1.415 1.413L0 19.514v-2.83zm0 5.657l16.97 16.97-1.414 1.415L0 25.172v-2.83zM0 28l14.142 14.142-1.414 1.414L0 30.828V28zm0 5.657L11.314 44.97 9.9 46.386l-9.9-9.9v-2.828zm0 5.657L8.485 47.8 7.07 49.212 0 42.143v-2.83zm0 5.657l5.657 5.657-1.414 1.415L0 47.8v-2.83zm0 5.657l2.828 2.83-1.414 1.413L0 53.456v-2.83zM54.627 60L30 35.373 5.373 60H8.2L30 38.2 51.8 60h2.827zm-5.656 0L30 41.03 11.03 60h2.828L30 43.858 46.142 60h2.83zm-5.656 0L30 46.686 16.686 60h2.83L30 49.515 40.485 60h2.83zm-5.657 0L30 52.343 22.343 60h2.83L30 55.172 34.828 60h2.83zM32 60l-2-2-2 2h4zM59.716 0l-28 28 1.414 1.414L60 2.544V0h-.284zM60 5.373L34.544 30.828l1.414 1.415L60 8.2V5.374zm0 5.656L37.373 33.656l1.414 1.414L60 13.86v-2.83zm0 5.656l-19.8 19.8 1.415 1.413L60 19.514v-2.83zm0 5.657l-16.97 16.97 1.414 1.415L60 25.172v-2.83zM60 28L45.858 42.142l1.414 1.414L60 30.828V28zm0 5.657L48.686 44.97l1.415 1.415 9.9-9.9v-2.828zm0 5.657L51.515 47.8l1.414 1.413 7.07-7.07v-2.83zm0 5.657l-5.657 5.657 1.414 1.415L60 47.8v-2.83zm0 5.657l-2.828 2.83 1.414 1.413L60 53.456v-2.83zM39.9 16.385l1.414-1.414L30 3.658 18.686 14.97l1.415 1.415 9.9-9.9 9.9 9.9zm-2.83 2.828l1.415-1.414L30 9.313 21.515 17.8l1.414 1.413 7.07-7.07 7.07 7.07zm-2.827 2.83l1.414-1.416L30 14.97l-5.657 5.657 1.414 1.415L30 17.8l4.243 4.242zm-2.83 2.827l1.415-1.414L30 20.626l-2.828 2.83 1.414 1.414L30 23.456l1.414 1.414zM56.87 59.414L58.284 58 30 29.716 1.716 58l1.414 1.414L30 32.544l26.87 26.87z' fill='%23f2f2f2' fill-opacity='0.09' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.projects .projectsContainer{
	height:100%;
	width:80%;
	margin:0 auto;
}

.projects .projectsContainer img{
	width:92%;
	margin: 0 auto;
	display: block;
	margin-top:20px;
	box-shadow: 5px 10px 30px #ffffff4d;
    border: 5px solid black;
	border-radius: 10px;
}

.aboutMeHero{
	height:105%;
	background-image: url("../images/jacob57.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0% 60%;
}

.aboutMeHero .aboutMeWrapper{		/*This is a cool way of vertically centering something on a page!*/
	position: relative;
	top:50%;
	transform:translateY(-50%);
	width:50%;
	width:90%;
}

.aboutMeHero p{
	font-family: 'Anton', sans-serif;
	color:white;
	width:100%;
	text-align: right;
	font-size: 14em;
	height:100%;
	text-shadow: 10px 1px 15px #000;
}

.aboutMe{
	height:100%;
	width:100%;
	
	/*Gradient*/
	background: #a9c9c2; /* Old browsers */
	background: -moz-linear-gradient(left, #a9c9c2 50%, #59aec3 49%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #a9c9c2 50%,#59aec3 49%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #a9c9c2 50%,#59aec3 49%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9c9c2', endColorstr='#59aec3',GradientType=1 ); /* IE6-9 */
}

.aboutMe h2{
	font-family: 'Anton', sans-serif;
    color: white;
    width: 100%;
    text-align: center;
    font-size: 96px;
    padding: 28px;
    text-shadow: 4px 3px 0px #333;
}

.aboutMe .carousel{
	width:60%;
	height:auto;
	float:right;
	box-shadow: 5px 10px 30px #333;
}

.aboutMe .card{
	float: right;
    width: 38%;
    margin:0.5% 1% 0 1%;
    box-shadow: 5px 10px 30px #333;
}

.aboutMe p{
	padding: 4px;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
}





/*FOOTER STYLES*/

.footer{
	height:80%;
	width:100%;

	background-color: #333;
	background-color: #333333;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56 28' width='56' height='28'%3E%3Cpath fill='%23000000' fill-opacity='1' d='M56 26v2h-7.75c2.3-1.27 4.94-2 7.75-2zm-26 2a2 2 0 1 0-4 0h-4.09A25.98 25.98 0 0 0 0 16v-2c.67 0 1.34.02 2 .07V14a2 2 0 0 0-2-2v-2a4 4 0 0 1 3.98 3.6 28.09 28.09 0 0 1 2.8-3.86A8 8 0 0 0 0 6V4a9.99 9.99 0 0 1 8.17 4.23c.94-.95 1.96-1.83 3.03-2.63A13.98 13.98 0 0 0 0 0h7.75c2 1.1 3.73 2.63 5.1 4.45 1.12-.72 2.3-1.37 3.53-1.93A20.1 20.1 0 0 0 14.28 0h2.7c.45.56.88 1.14 1.29 1.74 1.3-.48 2.63-.87 4-1.15-.11-.2-.23-.4-.36-.59H26v.07a28.4 28.4 0 0 1 4 0V0h4.09l-.37.59c1.38.28 2.72.67 4.01 1.15.4-.6.84-1.18 1.3-1.74h2.69a20.1 20.1 0 0 0-2.1 2.52c1.23.56 2.41 1.2 3.54 1.93A16.08 16.08 0 0 1 48.25 0H56c-4.58 0-8.65 2.2-11.2 5.6 1.07.8 2.09 1.68 3.03 2.63A9.99 9.99 0 0 1 56 4v2a8 8 0 0 0-6.77 3.74c1.03 1.2 1.97 2.5 2.79 3.86A4 4 0 0 1 56 10v2a2 2 0 0 0-2 2.07 28.4 28.4 0 0 1 2-.07v2c-9.2 0-17.3 4.78-21.91 12H30zM7.75 28H0v-2c2.81 0 5.46.73 7.75 2zM56 20v2c-5.6 0-10.65 2.3-14.28 6h-2.7c4.04-4.89 10.15-8 16.98-8zm-39.03 8h-2.69C10.65 24.3 5.6 22 0 22v-2c6.83 0 12.94 3.11 16.97 8zm15.01-.4a28.09 28.09 0 0 1 2.8-3.86 8 8 0 0 0-13.55 0c1.03 1.2 1.97 2.5 2.79 3.86a4 4 0 0 1 7.96 0zm14.29-11.86c1.3-.48 2.63-.87 4-1.15a25.99 25.99 0 0 0-44.55 0c1.38.28 2.72.67 4.01 1.15a21.98 21.98 0 0 1 36.54 0zm-5.43 2.71c1.13-.72 2.3-1.37 3.54-1.93a19.98 19.98 0 0 0-32.76 0c1.23.56 2.41 1.2 3.54 1.93a15.98 15.98 0 0 1 25.68 0zm-4.67 3.78c.94-.95 1.96-1.83 3.03-2.63a13.98 13.98 0 0 0-22.4 0c1.07.8 2.09 1.68 3.03 2.63a9.99 9.99 0 0 1 16.34 0z'%3E%3C/path%3E%3C/svg%3E");
}

.footerTopSection{
	width:100%;
	margin:0 auto;
	text-align: center;
}

.footerTopSection img{
	width:25%;
	height:auto;
	margin: 2% 0 0 0;
}

.footerBottomSection .buttonContainer{
	width:200px;
	margin:0 auto;
	text-align: center;
}

.footerBottomSection #promptButton{
	margin-top: 30%;
	width:100%;
	background-color: #ffffff00;
	border-radius: 20px;
	border:4px solid #59aec3;
	color:#59aec3;
	font-family: 'Roboto', sans-serif;
}

.footerBottomSection #promptButton:hover{
	background-color: #59aec3;
	letter-spacing: 2px;
	color:white;
}

.footerBottomSection .modal{
	font-family: 'Roboto', sans-serif;
}

.footerBottomSection form input{
	box-shadow: 3px 4px 7px #3333336b;
}

.footerBottomSection form #textArea{
	box-shadow: 3px 4px 7px #3333336b;
	resize: none;
}

.footerBottomSection .socialMediaIcons .row{
	width:55%;
	text-align: center;
	margin:4% auto 0 auto;
	list-style-type: none;
	padding-bottom: 5px;
}

.footerBottomSection .socialMediaIcons li:hover{
}

.footerBottomSection .copyrightInfo{
	margin-top: 6%;
}

.footerBottomSection .copyrightInfo p{
	color: #59aec3;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	margin-bottom:0;
}

.highlight{
	color:#00ff00;
}

.bouncy-1 {
  animation: bouncy 5s infinite linear;
  animation-delay: 0.5s;
  position: relative;
}

.bouncy-2 {
  animation: bouncy 5s infinite linear;
  animation-delay: 0.75s;
  position: relative;
}

.bouncy-3 {
  animation: bouncy 5s infinite linear;
  animation-delay: 1s;
  position: relative;
}

@keyframes bouncy {
  0% {
    top: 0em;
  }
  40% {
    top: 0em;
  }
  43% {
    top: -0.9em;
  }
  46% {
    top: 0em;
  }
  48% {
    top: -0.4em;
  }
  50% {
    top: 0em;
  }
  100% {
    top: 0em;
  }
}