*{
	margin:0;
	padding:0;
}

html, body
{
    height: 100%;
    width:100%;
}


#mainImage{
	width:100%;
	height: 100%;

	background-image: url("../images/jacob01.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0% 60%;

	margin:0;

	box-shadow: 0px 11px 39px 0px #333;
}

#mainImage p{
	font-family: 'Anton', sans-serif;
	color:white;
	text-align: center;
	font-size: 14em;
	text-shadow: 10px 1px 15px #000;
}

#mainImage .subText{
	font-size: 7em;

}

#mainImage .wrapper{
	line-height: 1;
	margin-left: 3%;
}

#mainContent{
	height:100%;

	width:75%;
	margin:0 auto;

	/*font-family: 'Roboto', sans-serif;*/
}

#mainContent h1{
	text-align: center;
}

#mainContentContainer img{
	width:10%;
}

.card-group{
	width:100%;
	margin:0 auto;
	box-shadow: 5px 10px 30px #333;
}




#mainImage .lowerContent{
	position: absolute;
	bottom:1%;
	width:100%;
	text-align: center;
}

#mainImage .lowerContent p{
	font-size: 2em;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 3px;
}



#showcase{
	height: 100%;
	width:100%;
	margin:0 auto;

	/*Gradient*/
	background: #59aec3; /* Old browsers */
	background: -moz-linear-gradient(left, #59aec3 50%, #a9c9c2 50%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #59aec3 50%,#a9c9c2 50%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #59aec3 50%,#a9c9c2 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#59aec3', endColorstr='#a9c9c2',GradientType=1 ); /* IE6-9 */
}

#showcase > .row{
	width:80%;
	height:80%;
	margin-left: 0;
	margin-right: 0;
	margin:0 auto;
}

#showcase .card{
	height:100%;
}

#showcase .cardIcon{
	width:100%;
	margin:0 auto;
	text-align: center;
}

#showcase .cardIcon img{
	width:60px;
	height:60;
}

#showcase h5{
	padding-top:5px;

	font-size: 3rem;
	font-family: 'Anton', sans-serif;
	color:#59aec3; 
}

#showcase ul, #showcase h5{
	margin:25px auto;
	text-align: center;
}

#showcase h6{
	text-align: center;
	font-size:25px;
	color:#59aec3;
}

#showcase .card-text{
	margin-top: 40px;
	text-align: center;
	font-family: 'Roboto', sans-serif;
}

#showcase ul li{
	list-style-type: none;
    font-size: 18px;
    letter-spacing: 2px;
    margin-top: 5px;

    background-color: #59aec3;
    color:#fff;
}


.card-body{
	height:100%;
}

.cardTopSection{
	height:40%;
}

.cardBottomSection{
	height: 50%;
}

hr{
	width:50%;
	margin:0 auto;
}

/*PROJECT HERO*/
.projectHero{
	width:100%;
	height: 100%;

	background-image: url("../images/jacob10.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0% 60%;

	margin:0;

	box-shadow: 0px 11px 39px 0px #333;
}

.projectHero .projectHeaderWrapper{		/*This is a cool way of vertically centering something on a page!*/
	position: relative;
	top:50%;
	transform:translateY(-50%);
	width:50%;
}

.projectHero p{
	font-family: 'Anton', sans-serif;
	color:white;
	text-align: center;
	font-size: 14em;
	height:100%;
	text-shadow: 10px 1px 15px #000;
}

/*THIS IS THE STYLE CSS FOR PROJECTS*/
.projects{
	height: 105%;
	width: 100%;

	/*Gradient*/
	background: #59aec3; /* Old browsers */
	background-image: linear-gradient(to right top, #59aec3, #6db5c0, #82bcbf, #96c3bf, #a9c9c2);
}

.projects .projectsContainer{
	height:100%;
	width:80%;
	margin:0 auto;
}

.projects .projectsContainer img{
	width:92%;
	margin: 0 auto;
	display: block;
	margin-top:20px;
	box-shadow: 5px 10px 30px #333;
	border:1px solid #333;
}

/*FOOTER STYLES*/

.footer{
	height:76%;
	width:100%;

	background-color: #333;
	background-color: #333333;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56 28' width='56' height='28'%3E%3Cpath fill='%23000000' fill-opacity='1' d='M56 26v2h-7.75c2.3-1.27 4.94-2 7.75-2zm-26 2a2 2 0 1 0-4 0h-4.09A25.98 25.98 0 0 0 0 16v-2c.67 0 1.34.02 2 .07V14a2 2 0 0 0-2-2v-2a4 4 0 0 1 3.98 3.6 28.09 28.09 0 0 1 2.8-3.86A8 8 0 0 0 0 6V4a9.99 9.99 0 0 1 8.17 4.23c.94-.95 1.96-1.83 3.03-2.63A13.98 13.98 0 0 0 0 0h7.75c2 1.1 3.73 2.63 5.1 4.45 1.12-.72 2.3-1.37 3.53-1.93A20.1 20.1 0 0 0 14.28 0h2.7c.45.56.88 1.14 1.29 1.74 1.3-.48 2.63-.87 4-1.15-.11-.2-.23-.4-.36-.59H26v.07a28.4 28.4 0 0 1 4 0V0h4.09l-.37.59c1.38.28 2.72.67 4.01 1.15.4-.6.84-1.18 1.3-1.74h2.69a20.1 20.1 0 0 0-2.1 2.52c1.23.56 2.41 1.2 3.54 1.93A16.08 16.08 0 0 1 48.25 0H56c-4.58 0-8.65 2.2-11.2 5.6 1.07.8 2.09 1.68 3.03 2.63A9.99 9.99 0 0 1 56 4v2a8 8 0 0 0-6.77 3.74c1.03 1.2 1.97 2.5 2.79 3.86A4 4 0 0 1 56 10v2a2 2 0 0 0-2 2.07 28.4 28.4 0 0 1 2-.07v2c-9.2 0-17.3 4.78-21.91 12H30zM7.75 28H0v-2c2.81 0 5.46.73 7.75 2zM56 20v2c-5.6 0-10.65 2.3-14.28 6h-2.7c4.04-4.89 10.15-8 16.98-8zm-39.03 8h-2.69C10.65 24.3 5.6 22 0 22v-2c6.83 0 12.94 3.11 16.97 8zm15.01-.4a28.09 28.09 0 0 1 2.8-3.86 8 8 0 0 0-13.55 0c1.03 1.2 1.97 2.5 2.79 3.86a4 4 0 0 1 7.96 0zm14.29-11.86c1.3-.48 2.63-.87 4-1.15a25.99 25.99 0 0 0-44.55 0c1.38.28 2.72.67 4.01 1.15a21.98 21.98 0 0 1 36.54 0zm-5.43 2.71c1.13-.72 2.3-1.37 3.54-1.93a19.98 19.98 0 0 0-32.76 0c1.23.56 2.41 1.2 3.54 1.93a15.98 15.98 0 0 1 25.68 0zm-4.67 3.78c.94-.95 1.96-1.83 3.03-2.63a13.98 13.98 0 0 0-22.4 0c1.07.8 2.09 1.68 3.03 2.63a9.99 9.99 0 0 1 16.34 0z'%3E%3C/path%3E%3C/svg%3E");
}

.footerTopSection{
	width:100%;
	margin:0 auto;
	text-align: center;
}

.footerTopSection img{
	width:25%;
	height:auto;
	margin: 2% 0 0 0;
}

.footerBottomSection{

}

.footerBottomSection .socialMediaIcons .row{
	width:55%;
	text-align: center;
	margin:7% auto 0 auto;
	list-style-type: none;
}

.footerBottomSection .copyrightInfo{
	margin-top: 7%;
}

.footerBottomSection .copyrightInfo p{
	color: #59aec3;
	text-align: center;
	font-family: 'Roboto', sans-serif;
}